#root {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h5, p {
    font-weight: bold;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin: 0.5%;
}

#clearCities {
    float: right;
}

.five-day {
    padding-left: 15px;
}

.card-deck {
    max-width: 1400px;
    justify-content: center;
    padding: 0 5px 0 10px;
}

.card-body {
    background-color: #6699CC;
    margin:10px;
    border-radius: 10px;
}

.location-container {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

}

@media screen and (max-width: 2160px) {
    .card-deck {
        max-width: 1500px;
    }
  }

  @media screen and (max-width: 4320px) {
    .card-deck {
        max-width: 1600px;
    }
  }